body{
    font-family: 'Times new roman';
    background-color: white;
    color: #000000;
    font-size: 18px;
}
html > button{
    position: fixed;
    z-index: 101;
    right: 0;
    top: 90px;
}
html > iframe{ 
    top: 0px;
    position: fixed;
    z-index: 100;
}

a {
    color: purple;
}

body.home .breadcrumbs{ display: none !important; }
.container_main{box-shadow: 2px 4px 11px 3px rgba(0, 0, 0, 0.25); margin-bottom: 20px;}


/* Top menu */
.top_menu{
    font-weight: bold;
    font-size: 16px;
    background: #234e2b; /* Old Browsers */
    background: -webkit-linear-gradient(top, #234e2b,#3a7f47); /*Safari 5.1-6*/
    background: -o-linear-gradient(top, #234e2b,#3a7f47); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top, #234e2b,#3a7f47); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, #234e2b,#3a7f47); /*Standard*/
    transition: .25s;
    width: 100%;
    margin-left: initial;
}
.top_menu nav{
    padding-top: 0;
    padding-bottom: 0;
}

.top_menu nav .dropdown-menu{
    margin-top: -2px;
    border-top: none;
    border-radius: 0;
    min-width: 250px;
    background: #194c21; /* Old Browsers */
    background: -webkit-linear-gradient(top, #234e2b,#3a7f47); /*Safari 5.1-6*/
    background: -o-linear-gradient(top, #234e2b,#3a7f47); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top, #234e2b,#3a7f47); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, #234e2b,#3a7f47); /*Standard*/    
    box-shadow: 2px 2px 5px #80d88d;
}
.top_menu nav .dropdown-menu a{
    color: white;
    padding-left: 15px;
    margin: 15px 0;
    line-height: 1.1;
    text-decoration: none;
    display: table;
    width: 100%;
}
@media (max-width: 991.99px) { .top_level_0{ display: block; } }
.top_level_0{ width: 100%; }
.top_menu nav .dropdown-menu a:hover{ text-decoration: underline; }
.top_menu nav .nav-item{
    position: relative;    
    text-align: center;
}

@media (min-width: 1200px) { .top_menu nav .nav-item{ padding: 10px 10px; } }
@media (max-width: 1199px) { .top_menu nav .nav-item{ padding: 10px 0px; } }

.top_menu nav .nav-item.active,
.top_menu nav .nav-item:hover{
    background: -webkit-linear-gradient(top, #3a7f47,#234e2b); /*Safari 5.1-6*/
    background: -o-linear-gradient(top, #3a7f47,#234e2b); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top, #3a7f47,#234e2b); /*Fx 3.6-15*/
    background: linear-gradient(to bottom, #3a7f47,#234e2b); /*Standard*/    
}
.navbar-toggler-icon,
.top_menu nav .nav-link{color: white;}




/*Header*/
header {
    position: relative;
    height: 130px;
    background: url('../files/images/hatka2.jpg') center/cover no-repeat;
}

header:before {
    position: absolute;
    content: "";
    background: #ffffff88;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.top_logo{
}
.top_logo img{
    max-width: 100%;
}
.header_right {
    z-index: 11
}
.header_left {
    max-width: 120px;
    z-index: 11
}
.header_left > div{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    color: #6a6a6a;
    margin-bottom: 10px;
}
.header_left img {margin: 20px;}
.header-title {font-size: 21px; text-shadow: 1px 0 0px #f1f1f1; line-height: 24px; color: #000; font-weight: bold; padding: 20px 0 5px 0;text-transform: uppercase;}
.tel a, 
.tel a:hover,
.tel a:visited {
    color:#222;
    font-size:18px;
    text-decoration:none;
    font-weight:bold;
    background: #00000073;
    padding: 2px;
    border-radius: 2px;
}
.header_left > div.top_phone{
    font-size: 18px;
}

@media (max-width: 700px) {
    .header-title {font-size: 16px; line-height: 12px;}
}

@media (max-width: 576px) {
    .header-title {font-size: 12px; line-height: 12px;}
}

.top_search {
    position: relative;
    width: 100%;
    margin-top: -30px;
    height: 30px;
    background: #e8e8e8;
}

.top_search input{
    border: none;
    height: 25px;
    background-color: #e8e8e8;
    vertical-align: bottom;
}

.top_search input[type="text"]{
    color: #adadad;
    font-size: 16px;
    padding-left: 35px;
    box-sizing : border-box;
    outline: none;
    width: calc(100% - 40px);
}
.top_search input[type="submit"]{
    background-image: url('/assets/img/search_icon (1).png');
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;    
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    width: 25px;
    position: absolute;
    left: 5px;
    top: 0;
}

#carouselHeaderControls > a{
    position: absolute;
    top: 50%;
    margin-top: -25px;
    padding: 12px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.4);
    opacity: .25;
    transition: .25s;
}
#carouselHeaderControls > a:hover{
    opacity: 1;
}
#carouselHeaderControls > a span{
    vertical-align: middle;
}

.header-control-prev{
    left: 0;
}

.header-control-next{
    right: 0;
}

.carouselHeaderDescription{
    position: absolute;
    margin-left: 180px;
    top: 30px;
    background-color: rgba(150,150,150,.4);
    color: black;
    padding: 15px 15px;
    text-shadow: 1px 1px 4px rgba(255,255,255,.5), -1px -1px 2px rgba(255,255,255,.5);
    
    
}
@media (max-width: 575.99px) { .header_slider img{ height: 300px; } }
@media (max-width: 450px) { form input[placeholder]{ font-size: 12px; } }


/*-Spec version-*/
@media (max-width: 575.99px){.special_ability{ display: none;} }
    
.special_ability{
    position: fixed;
    right: 10px;
    top: 10%;
}
.special_ability button{
    border: none;
    padding: 50px;
    border-radius: 50%;
    background-color: rgba(133, 127, 156, 0.73);
    background-image: url('../img/glaz.png');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}


/*-Main content-*/

main{
    padding-top: 30px;
}

.bread-crumb{
    margin: 15px 0;
    font-size: 12px;
}

.bread-crumb a{
    color: #000000;
    text-decoration: underline;
}

.main_content{
    line-height: 1.2;
}

.main_content img{ margin: 0 10px; max-width: 100%; }
@media (max-width: 575.99px) { .main_content img{ height: auto; } }

main h1,
main h2,
main h3,
main h4,
main h5,
main h6{
    font-weight: bold;
}

main h1{ font-size: 30px;/* color: #ff0000; */}
main h2{ font-size: 26px; color: #580ed2; }
main h3{ font-size: 23px; color: #000000; }
main h4{ font-size: 21px; color: purple;  }
main h5{ font-size: 19px; color: #1e7e34; }
main h6{ font-size: 17px; color: #000000; }

.header_h1 h1{
   /* padding: 20px 0;*/
    /*text-transform: uppercase;*/
}



/*-Left menu-*/
.side_menu{
    padding: 5px 0;
    background-color: #7471a7;
    width:100%;
    height:auto;
    display:block;
    margin:0px;
    list-style:none;
    position:relative;
}
.side-dropdown{
    padding-left: 0px;
    position:absolute;
    z-index: 1;
    top:0px;
    left:100%;
    display:none;
    width:auto;
    background-color: #686d77;
    min-width: 250px;
    border-radius: 1px;
    border: 1px solid #7471a7;
}

.left_menu li{
    list-style: none;
    line-height: 1.0; 
    display:block;
    width:100%; 
    height:auto;
    position:relative;
    transition: .2s ease;
}

.side-item{ 
   display:block;
   width:100%;
   height:auto;
   position:relative;
}

.left_menu li:active{
   background-color: #000000; 
}

.left_menu li:hover, .left_menu li.active{
   background: #d5d5f1;
   color: #1f1f1f;
}

.side-item > a {
    color: #f1f1f1;
    font-size: 18px;
    text-decoration: none;
    padding: 15px 10px 15px 20px;
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.side-item.active > a,
.side-item:hover > a{
    color: #f1f1f1;
}

.side-dropdown li{
    border-bottom: 1px solid rgba(255,255,255,0.3);
    padding: 10px 10px 10px 20px;    
}
.side-dropdown li a{
    color: #ffffff;
    padding:5px 0;
}
.side-dropdown:hover {
    display:block;
}
.side-dropdown a:hover{
    text-decoration: underline;
}

.side-dropdown li:first-child{ 
    /*background-image: url('../img/side_menu_arrow.png');*/
    background-repeat: no-repeat;
}

.external_links{
    padding-left: 0;
}
.external_links li{
    list-style: none;
    margin: 0;
}

.side-dropdown li:hover, .side-dropdown li:hover > a, li.side-item:hover > a, a.nav-link:hover, .left_menu li.active > a {
    color: #1f1f1f;
}
.external_links a, .external_links a:hover, .external_links a:visited{
    width: 100%;
    padding: 10px;
    line-height: 1.1;
    text-align:center;
    text-decoration: none;
    font-size: 14px;
}

.external_links img {
    width: 95px;
    height: 95px;
    display: block;
    margin: 5px auto;
}

/* Slider */

.wp-slider {
    margin-bottom: 30px;
}

/*-News anons-*/

.news_anons_row{
    /*background-image: url('../img/news_anons_bg.png');*/
    padding-top: 20px;
    padding-bottom: 20px;
}

.news_anons_row h3{
    text-transform: uppercase;
    margin: 20px 0;
}
.news_anons_item{
    font-size: 14px;
    line-height: 1.0;
    margin: 5px 0;
}
.news_anons_item img{
    max-width: 100%;
    height: 100%;
}
.news_anons_item a{
    position: relative;
    display: inline-table;
    color: white;
    transition: .25s;
    width: 100%;
    
}

.news_anons_img{
    width: 100%;
    height: 170px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    -moz-transition: all 0.4s; 
    -webkit-transition: all 0.4s;  
    -ms-transition: all 0.4s;  
    -o-transition: all 0.4s;  
    transition: all 0.4s; 
    opacity:1;
    filter:alpha(opacity=100);
}

.news_anons_hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 170px;
}

.news_anons_content{
    position: absolute;
    top: 0;
    left: 0; 
}

@media (min-width: 1200px) { .news_anons_content > div{ vertical-align: text-top; } }
@media (max-width: 1199.99px) { 
    .news_anons_content{ min-height: 150px; display: inline-table; } 
    .news_anons_content > div{ vertical-align: middle; }
}

.news_anons_content > div{
    display: table-cell;
    
    padding-top: 10px;
}
.news_anons_date{
    width: 70px;
}
.news_date_icon{ padding-bottom: 10px;}
.news_anons_date > div{
    text-align: center;
}
.news_anons_date_text{
    
}

.news_anons_title{
    /*width: 170px;*/
    margin-bottom: 10px;
}

.news_anons_showmore{
    width: 100%;
    text-align: center;
    font-size: 11px;
    text-decoration: underline;    
    position: absolute;
    bottom: 10px;
}

.news_anons_item a:hover .news_anons_showmore{color: #ffffff;}
.news_anons_item a:hover .news_anons_hover{}
.news_anons_img:hover { opacity:0.5; }

.news_anons_link_all{
    margin: 20px 0 5px;
}
.news_anons_link_all a{
    text-decoration: underline;
    color: #000000;
    font-size: 18px;   
    font-weight: bold;
}


/*-Gallery-*/
.gallery{
    padding-top: 20px;
    padding-bottom: 60px;
}
.gallery-item{
    margin: 5px 0;
}
.gallery-item img{
    max-width: 100%;
}

.gallery-item a{
    transition: .25s;
}
.gallery-item a > div{
    border: 1px solid #b8c5f3;
    padding: 3px;
}

.gallery-item a:hover img{
    filter: brightness(60%);
}


/*-Feedback form-*/
#formMail{
    display: none;
}

.feedback_agree label{
    max-width: 90%;
    line-height: 1.0;
    font-size: 12px;
    vertical-align: text-top;
}

#lowFormCaptcha img{
    float: left;
    margin-right: 10px;
}

#lowFormCaptcha img, 
#lowFormCaptcha input{
    height: 40px;
}

#lowFormCaptcha br{display: none;}
#lowFormCaptcha label{
    margin-left: 10px;
}

@media (max-width: 992px) {
    .side-dropdown {position: inherit; left: 0;}
}

@media (min-width: 768px) { .feedback_submit{text-align: center;}  }
@media (max-width: 767.99px) { .feedback_submit{text-align: left; margin: 10px 0; }  }
.feedback_submit input{
    cursor: pointer;
    border: none;
    color: white;
    font-weight: bold;
    padding: 5px 30px;
    text-transform: uppercase;
    background: #59586f;
    transition: .25s ease-in-out;    
}

.feedback_submit input:hover{
    background: #7370A6;    
}

.form-control:focus {
    border-color: #7370A6;
    box-shadow: 0 0 0 0.2rem #7370A633;
}

.jGrowl.top-right{
    right: 30% !important;
    top: 10% !important;
    font-size: 30px;
}
.jGrowl-notification{width: 400px !important;}




/*-Bottom menu-*/

.bottom_menu{
    margin-top: 20px;
    background-color: #7471a7;
}
.bottom_menu_level{ 
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ffffff;
}

.bottom_menu_level li{
}

@media (min-width: 992px) { .bottom_menu_level a{ font-size: 16px; } }
@media (max-width: 991.99px) { .bottom_menu_level a{ font-size: 14px; padding: 10px 5px; }  }

.bottom_menu_level a{    
    color: #ffffff;
    font-weight: bold;
}
.bottom_menu_level a.active,
.bottom_menu_level a:hover{
    text-decoration: underline;
    color: #ffffff;
}



/*-Footer legals-*/

footer{
    color: #0000007a;
    font-size: 9px;
    padding-bottom: 30px;
}

footer .copyright{
    text-align: right;
}
footer .copyright img{
    vertical-align: bottom;
}


/*-Child links-*/
.child_link{
    padding-bottom: 10px;
}
.child_link a{
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}
.child_link a:hover{
    text-decoration: underline;
}

.anons_block_starter{
    margin-top: 30px;
    width: 100%;
}

.child_anons_img img{
    max-width: 100%;
}
.child_anons_showmore{
    text-align: right;
}
.child_anons_showmore a{
    text-decoration: underline;
    color: #000000;
    font-size: 14px;
}
.child_anons_showmore{
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #000000aa;
}

.child_anons_text{
    line-height: 1.2;
    font-size: 16px;
}
.child_anons_date{
    color: #000000;
    font-size: 12px;
    font-style: italic;
}

.child_anons_title a{
    font-weight: bold;
    color: #000000;
}

.pagination a{
    color: #000000;
}

iframe ~ body {
    margin-top: 95px
}


.tel a {
    color: #222;
    background: #ffffff11;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    transition: .25s linear;
    padding: 4px;
}
.tel a:hover {
    color: #222;
    text-decoration: underline;
    background: #ffffff99;
}

.special_ability{
    z-index:99999;
}

.carousel-inner img {
    min-height: 350px;
}